<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<form  action="/End" method="post">
	<label for="pname">Employee ID : </label>
        <input type="text" id="emp_id" name="emp_id" required>
        <br>

        <label for="price">Employee Name : </label>
        <input type="text" id="emp_name" name="emp_name" required>
        <br>
        <label for="origin">Mail : </label>
         <input type="text" id="emp_mail" name="emp_mail" required>
        <br>
        <label for="origin">Location :  </label>
         <input type="text" id="emp_location" name="emp_location" required>
        <br>
        
        <button type="submit">Submit</button>
        <a href="End"><button type="button">Back</button></a>
	</form>

</body>
</html>